<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Sync</title>
    <link id="public-style" rel="stylesheet" href="/static/src/assets/css/styles.css">
    <link id="public-style" rel="stylesheet" href="/static/src/assets/css/requests.css">
    <link rel="icon" href="/static/src/assets/images/main_logo.png" type="image/x-icon">
</head>

<body>
    <div id="root">
        <div class="main-container">
            <nav id="header-section">
                <div class="container">
                    <div class="nav-cont">
                        <div class="title">
                            <img src="/static/src/assets/images/main_logo.png" alt="">
                            <p>{{place_name}} - Requests</p>
                        </div>
                        <ul class="buttons">
                            <i><a href="" id="dashboard_page">Dashboard</a></i>
                            <i><a href="" id="inventory_page">Inventory</a></i>
                            <i><a href="" id="requests_page">Request</a></i>
                            {% if place_name != "Bloodbank" %}
                                <i><a href="" id="request_form_page">Request Blood</a></i>
                            {% endif %}
                            <i><a href="" id="logout">Logout</a></i>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="requests-section">
                <div class="container">
                    <div class="req-cont">
                        <!-- hide container -->
                        {% if place_name == "Bloodbank" %}
                        <div id="pending-requests" class="req-box">
                            <h3>Pending Requests</h3>
                            <div class="incoming-reqs">
                                <div class="inner-cont" id="req_pending">
                                    <!-- Pending requests -->
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- specify container based on place_name -->
                        {% if place_name != "Bloodbank" %}
                        <div id="requests-history" class="req-box">
                            <h3>Requests History</h3>
                            <div class="incoming-reqs">
                                <div class="inner-cont" id="req_history">
                                    <!-- History_Requests -->
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div id="requests-history" class="req-box">
                            <h3>Requests History</h3>
                            <div class="incoming-reqs">
                                <div class="inner-cont" id="req_history">
                                    <div class="req-history">
                                        <div class="req-details">
                                            <p class="hospital-name">
                                                From:<span id="h_hospital_name"> Qasr El-AinyHospital </span></p>
                                            <span class="details">Details:<span id="h_units">10 </span> Bags of <span
                                                    id="h_blood_type">A+</span> Blood Type</span>
                                        </div>
                                        <div class="req-status">
                                            <span id="h_status">Approved</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

        </div>
    </div>
    </section>
    </div>
    </div>
    <script src="/static/src/assets/js/jquery-3.7.1.js"></script>
    <script type="module" src="/static/src/assets/js/requests.js"></script>
    <script type="module" src="/static/src/assets/js/navigation.js"></script>

</body>

</html>