:root {
    --main-background: #d0c9da;
    --little-containers: #ADBBDA;
    --border: #50E3C2;
    --header-text-color: #3D52A0;
    --buttons: #3A9D8C;
    --text: #8B0000;
    --second-text-color: #7091E6;
    --boxes: #8697C4;
    --approve-req: #3B945E;
    --decline-req: #E43D12;
    --redirect-req: #A4A71E;
    --buttons: #b12929;
    --hover-buttons: #e73636;
    }

.container {
    height: 100vh;
    width: 100%;
    background-color: var(--little-containers);
}

.login-section {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-card {
    position: relative;
    height: 95%;
    width: 40%;
    background-color: var(--boxes);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.login-card::before {
    content: '';
    position: absolute;
    right: -60%;
    width: 65%;
    height: 55%;
    background-color: var(--boxes);
    background-image: url(../images/doctor.png);
    background-size: auto;
    background-position: center center;    
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-repeat: no-repeat;
}

.login-card::after {
    content: '';
    position: absolute;
    left: -60%;
    bottom: -0.5px;
    width: 65%;
    height: 55%;
    background-color: var(--boxes);
    background-image: url('../images/bottom.png');
    background-size: auto;
    background-position: center center;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-repeat: no-repeat;
}


.logo {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    height: 50%;
    margin: 0;
    padding-top: 10px;
}

.logo h1 {
    padding-top: 15px;
    margin: 0;
    padding-bottom: 10px;
    color: black;   
}

.login-fields {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.login-fields h2 {
    margin-bottom: 0;
    color: black;
}

.login-fields p {
    margin-top: 0;
    color: black;
}

.fields #error-message {
    display: none;
    align-items: center;
    justify-content: space-around;
    color: var(--text);
}

.fields #error-message.show {
    display: flex;
}

.fields #error-message p {
    margin: 0;
}

#login-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 60%;
    justify-content: space-around;
}

#login-form .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

#login-form .box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

#login-form .box label {
    color: var(--headers);
}
#login-form .box input {
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

#login-form .box input:focus {
    border-color: var(--border);
    border-width: 2px;
    outline: none;
}

#login-form .login-btn {
    height: 10%;
    border-width: 1px;
    border-radius: 20px;
}

#login-form button {
    width: 100%;
    height: 100%;
    background-color: var(--buttons);
    border: 0;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

#login-form button:hover {
    background-color: var(--hover-buttons);
    cursor: pointer;
}

.error-message {
    color: var(--text);
    /* text-align: center; */
    margin-top: 5px;
}
