body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.register-section {
    background-color: #2b2b2b;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 500px;
    width: 70%; /* Adjusted width */
}
.logo-section{
    display: flex;
}

.register-section h1 {
    font-size: 40px; /* Adjusted size */
    margin: 10px 0;
}

.register-section h2 {
    font-size: 25px; /* Adjusted size */
    margin-bottom: 20px;
    text-align: center;
}

.boxm{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center aligned form elements */
}

.register-section label {
    font-size: 16px; /* Adjusted size */
    margin-bottom: 10px;
    padding: 5px;
    align-self: flex-start; /* Left align label */
    left: 100px;
    color: #aaaaaa;
}

.register-section input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 30px; /*Adjusted border radius*/
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    color: #ffffff;
    width: 100%; /* Full width input */
    max-width: 90%; /* Max width for input */
    text-align: center; /* Center aligned placeholder text */
}

.error-message {
    display: none;
    color: #e50914;
    font-size: 0.875em;
    margin-top: -10px;
    margin-bottom: 15px;
    text-align: right;
    max-width: 90%;
}


.register-section select {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 30px; /*Adjusted border radius*/
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    color: #ffffff;
    font: bold;
    font-size:medium;
    width: 100%; /* Full width input */
    max-width: 95%; /* Max width for input */
    text-align: center; /* Center aligned placeholder text */
}



.register-section button {
    padding: 10px;
    margin-top: 20px;
    /* margin-left: 20px; */
    border: none;
    border-radius: 30px; /* Adjusted border radius */
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Full width button */
    max-width: 100%; /* Max width for button */
    text-align: center;
}